In [6]:
import pandas as pd

close = pd.DataFrame(
    {
        'ABC': [1, 5, 3, 6, 2],
        'EFG': [12, 51, 43, 56, 22],
        'XYZ': [35, 36, 36, 36, 37],},
    pd.date_range('10/01/2018', periods=5, freq='D'))
close

            ABC  EFG  XYZ
2018-10-01    1   12   35
2018-10-02    5   51   36
2018-10-03    3   43   36
2018-10-04    6   56   36
2018-10-05    2   22   37

In [7]:
close.shift(2)

            ABC   EFG   XYZ
2018-10-01  NaN   NaN   NaN
2018-10-02  NaN   NaN   NaN
2018-10-03  1.0  12.0  35.0
2018-10-04  5.0  51.0  36.0
2018-10-05  3.0  43.0  36.0

In [8]:
close.shift(-1)

            ABC   EFG   XYZ
2018-10-01  5.0  51.0  36.0
2018-10-02  3.0  43.0  36.0
2018-10-03  6.0  56.0  36.0
2018-10-04  2.0  22.0  37.0
2018-10-05  NaN   NaN   NaN

In [ ]:
import pandas as pd
import quiz_tests

def calculate_returns(close)
    """
    Compute returns for each ticker and date in close.
    Parameters
    ----------
    Close : DataFrame
        Close prices for each ticker and date

    Returns
    -------
    returns : DataFrame
        Returns for each ticker and date
    """
    close = close.shift